.CardMessage{
    display: grid;
    grid-template-columns: 70px auto;
    padding: 10px;
    margin: 20px 0 20px 0;
    border-radius: 10px;
}

.colorNotification{
    background-color: var(--light-grayish-blue-1);
}

.CardMessage .CardMessageBody:hover{
    background-color: var(--light-grayish-blue-2);
}

.CardMessage .CardMessageLeft{
    display: flex;
    justify-content: center;
    align-items: center;
}

.CardMessage .CardMessageBody{
    grid-column-start: 2;
    padding: 20px;
    margin: 20px 0 20px 0;
    border-style: solid;
    background-color: var(--white);
    border-color: var(--light-grayish-blue-2);
    border-width: 1px;
    border-radius: 10px;
}

.CardMessage .CardMessageLeft .UserImg #iconUser{
    width: 42px;
    height: 42px;
}

.ReadMessageIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px;
}

.ReadMessageIcon .BallIcon{
    width: 10px;
    height: 10px;
    background-color: var(--red);
    border-radius: 100%;
    min-width: 10px;
    min-height: 10px;
}

.CardMessage .CardMessageRight{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
        "ReportMessage ImgNotification"
        "LastTimeView  ImgNotification"
    ;
}

.CardMessage .CardMessageRight .LastTimeView{
    grid-area: LastTimeView;

    opacity: 70%;
}

.CardMessage .CardMessageRight .ImgNotification{
    grid-area: ImgNotification;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.CardMessage .CardMessageRight .MediaLink h2{
    font-weight: 800;
}

.CardMessage .CardMessageRight .MediaLink{
    margin: 0 5px 0 5px;
    color: var(--dark-grayish-blue);
    margin: 0 0 0 10px;
}

.CardMessage .CardMessageRight .MediaLink h2:hover{
    color: var(--blue);
    cursor: pointer;
}

.CardMessage .CardMessageRight .MediaLink h2:active{
    cursor: pointer;
    color: var(--blue);
}

.CardMessage .CardMessageRight .ReportMessage{
    grid-area: ReportMessage;
}

.CardMessage .CardMessageRight .ImgNotification img{
    width: 42px;
    height: 42px;
}

.CardMessage .CardMessageRight .ReportMessage{
    display: flex;
    flex-wrap: wrap;
}

.ReportMessage .Username h2{
    font-weight: 800;
    margin: 0 10px 0 0;
}

.ReportMessage .Username:active, .ReportMessage .Username:hover{
    cursor: pointer;
    color: var(--blue);
}