.HeaderNotification, .HeaderNotificationLeft, .HeaderNotificationRight{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    text-align: center;
}

.HeaderNotificationRight div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.HeaderNotificationLeft .NotificationCounter{
    margin-left: 10px;
}

.NotificationCounter h1{
    background-color: var(--blue);
    color: var(--white);
    width: 40px;
    border-radius: 20%;
}

.HeaderNotificationLeft h1{
    font-weight: 800;
    font-size: 20px;
}

.HeaderNotificationRight .MarkAll{
    font-weight: 800;
    opacity: 60%;
}

.HeaderNotificationRight .MarkAll:hover, .HeaderNotificationRight .MarkAll:active{
    cursor: pointer;
    color: var(--blue);
    opacity: 100%;
}